.discipline-icon-button{
    font-size: x-large;
    border-radius: 5px;
    background-color: transparent;
}

.discipline-icon-red {
    color: #391010;
}

.discipline-icon-red:hover {
    color: #967371;
}

.discipline-icon-red:active {
    color: #967371;
}

.discipline-icon-dark {
    color: #C4D4C9;
    background-color: #1C211D;   
}

.discipline-icon-dark:hover {
    color: #F5F4F5;
    background-color: #546357;
}

.discipline-icon-light {
    color: #1C211D;
    background-color: transparent;
}

.discipline-icon-light:hover {
    color: #546357;
    background-color: transparent;
}




