@namespace discipline.ui.Components.Layout.NavbarComponents
@rendermode InteractiveServer

<nav class="navbar">
  <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">
          <img src="discipline_logo.png" alt="Discipline." style="width: 200px; height: 80px">
      </a>
      <NavbarButton
          Text="Activity rules"
          IconClass="bi-file-ruled"/>
      <NavbarButton
          Text="Activities"
          IconClass="bi-list-task"/>
  </div>
</nav>

@code {
    
}