@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Routing
@namespace discipline.ui.Components.Layout.NavbarComponents
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer

<nav class="navbar">
  <div class="d-flex align-items-center">
      <a class="navbar-brand" href="#">
          <img 
              src="discipline_logo.png" 
              alt="Discipline." 
              class="logo-navbar">
      </a>
      <NavbarButton
          Text="Activity rules"
          IconClass="bi-file-ruled"
          OnButtonClick="NavigateToActivityRules"/>
      <NavbarButton
          Text="Activities"
          IconClass="bi-list-task"
          OnButtonClick="NavigateToActivities"/>
      <NavbarButton
          Text="User Calendar"
          IconClass="bi-calendar-check"
          OnButtonClick="NavigateToUserCalendar"/>
  </div>
</nav>

@code {

    private void NavigateToActivityRules()
        => NavigationManager.NavigateTo("/activity-rules-list");

    private void NavigateToActivities()
        => NavigationManager.NavigateTo("/daily-productivity");

    private void NavigateToUserCalendar()
    {
        var day = DateOnly.FromDateTime(DateTime.Now);
        NavigationManager.NavigateTo($"/user-calendar/{day:yyyy-MM-dd}");
    }

}