@rendermode InteractiveServer

<Tooltip
    Class="me-4"
    Title="@Text"
    Placement="TooltipPlacement.Bottom">
    <span class="navbar-btn" @onclick="ClickButton">
        <i class="bi @IconClass navbar-btn-icon"></i> @Text
    </span>
</Tooltip>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public string IconClass { get; set; } 
    [Parameter] public EventCallback OnButtonClick { get; set; }

    private async Task ClickButton()
        => await OnButtonClick.InvokeAsync();

}