<div class="create-btn-position">
    <div class="btn-group dropup">
        <button class="btn-dark btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-lg create-btn-icon"></i>
        </button>
        <ul class="dropdown-menu">
            @foreach (var option in Options)
            {
                <li><a class="dropdown-item" @onclick="async() => await OnClick(option)">@option</a></li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter] public List<string> Options { get; set; } = [];
    [Parameter] public EventCallback<string> OnClickCallback { get; set; }

    private async Task OnClick(string option)
        => await OnClickCallback.InvokeAsync(option);
}