@namespace discipline.ui.Components.Common.ButtonsComponents
@using BlazorBootstrap

<div class="create-from-rule-btn-position">
    <Tooltip Class="me-4" Title="Create activity from activity rule">
        <button type="button" class="btn btn-dark btn-sm submit-btn">
            <i class="bi bi-file-earmark create-from-rule-btn-icon"></i>
        </button>
    </Tooltip>
</div>
@code {
    [Parameter] 
    public EventCallback<string> OnClickCallback { get; set; }

    private async Task OnClick()
    {
        await OnClickCallback.InvokeAsync(string.Empty);
    }
}