<div>
    <button class="btn discipline-text-btn" @onclick="OnClick">
        @Text
    </button>
</div>

@code {
    [Parameter] 
    public string Text { get; set; }
    
    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private async Task OnClick()
        => await OnClickCallback.InvokeAsync();
}