.discipline-text-btn {
    background-color: transparent;
    color: #f5f4f5;
    border-color: #f5f4f5;
}

.discipline-text-btn:hover {
    color: #C4D4C9;
    border-color: #C4D4C9;
    cursor: pointer;
}

.discipline-text-btn:active{
    color: #F5F4F5;
}