.discipline-submit-btn-position-modal{
    padding-top: 10px;
    text-align: end;
    padding-right: 5px;
}

.discipline-submit-btn-position{
    position: fixed;
    right: 25px;
    padding-bottom: 10px;
}

.discipline-submit-btn-icon {
    font-size: large;
}

.discipline-submit-button{
    background-color: #C4D4C9;
    color: #1C211D;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #1C211D; 
}

.discipline-submit-button:hover {
    background-color: #546357;
    color: #1C211D;
}

.discipline-submit-button:active{
    background-color: #1C211D;
    color: #C4D4C9;
}