@namespace discipline.ui.Components.Common.ButtonsComponents
@using BlazorBootstrap

<div class="submit-btn-position">
    <Tooltip Class="me-4" Title="Submit">
        <button type="submit" class="btn btn-dark btn-sm submit-btn">
            <i class="bi bi-check-lg submit-btn-icon"></i>
        </button>
    </Tooltip>
</div>
@code {
    
}