.event-card-border{
    border-style: solid;
    border-width: 2px; 
    border-radius: 5px
}

.important-date-card-color {
    border-color: #80805b;
}

.calendar-event-card-color {
    border-color: #805b5b;
}

.meeting-card-color {
    border-color: #5b5b80;
}

.event-card-content {
    padding: 7px;
}

.card-title {
    font-size: large;
}

.card-content {
    font-size: small;
}