.event-card-border{
    border-style: solid;
    border-width: 3px; 
    border-radius: 10px
}

.important-date-card-color {
    border-color: #80805b;
}

.calendar-event-card-color {
    border-color: #805b5b;
}

.meeting-card-color {
    border-color: #5b5b80;
}

.card-title {
    font-size: large;
}