@using BlazorBootstrap
@using discipline_wasm_ui.Infrastructure.Helpers
@using discipline_wasm_ui.Infrastructure.Services.DTOs
@using discipline_wasm_ui.Ui.Components.Checkboxes
@inject IDailyProductivityDispatcher DailyProductivityDispatcher
@inject ToastService ToastService

<div class="row discipline-row">
    <span class="pb-1 pt-1">
        <div class="row">
            <div class="col-md-10" @onclick="RowClickedAsync">
                <div class="row">
                    <div class="col-md-2">
                        <DisciplineCheckbox
                            IsChecked="Activity.IsChecked"/>
                    </div>
                    <div class="col-md-10">
                        @Activity.Title
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>

@code {
    [Parameter, EditorRequired] 
    public ActivityDto Activity { get; set; }

    private async Task RowClickedAsync()
    {
        var response = await DailyProductivityDispatcher.ChangeActivityCheck(Activity.Id);
        ToastService.Notify(response.ToToastMessage());
        if (response.IsValid)
        {
            Activity.IsChecked = !Activity.IsChecked;
        }
    }

}