@using discipline.ui.blazor.wasm.Components.Buttons
<div class="col-md-11">
    <div class="row selecting-row">
        @Body
    </div>
</div>
<div class="col-md-1">
    <DisciplineIconButton  OnClickButtonCallback="" IconClass="trash3-fill"/>
</div>

@code {
    [Parameter, EditorRequired]
    public required RenderFragment Body { get; set; }
}