.selecting-row{
    border-bottom-width: 1px;
    border-color: var(--primary);
    border-bottom-style: solid;
    margin-bottom: 10px;
}

.selecting-row:hover{
    background-color: var(--secondary);
}