@namespace discipline.ui.Components.Pages.ActivityRuleFormComponents
@using BlazorBootstrap

<Modal 
    @ref="_modal" 
    title="Create new activity rule" 
    UseStaticBackdrop="true" 
    CloseOnEscape="false"
    OnHiding="OnHideModalClick">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-10 offset-1">
                <ActivityRuleForm 
                    Modal="_modal"
                    Messages="_messages"
                    ActivityRuleId="ActivityRuleId"></ActivityRuleForm>  
            </div>
        </div>
    </BodyTemplate>
</Modal>

<Toasts 
    Class="p-3" 
    Messages="_messages" 
    AutoHide="true" 
    Delay="4000" 
    Placement="ToastsPlacement.TopRight"/>

@code {
    [Parameter] public Guid? ActivityRuleId { get; set; }

    private Modal _modal = default!;
    private List<ToastMessage> _messages = [];
    
    private async Task OnHideModalClick()
    {
        await _modal.HideAsync();
    }

    public async Task OnShowClick()
    {
        await _modal.ShowAsync();
    }
    
}