.activity-table-row {
    background-color: #f7f7f7;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: groove;
}

.activity-table-row:hover{
    background-color: white;
    cursor: pointer;
}