@using BlazorBootstrap
@using discipline.ui.infrastructure.Constants
<Collapse @ref="@_weekdaysCollapse">
    <Card>
        <CardBody Style="background-color: var(--dark); border-color: var(--dark)">
            @foreach (var weekDay in _weekDays)
            {
                <Button
                    style="background-color: var(--light)"
                    Active="@(_selected.Contains(weekDay.Value))"
                    @onclick="() => ChangeSelection(weekDay.Value)">
                    @weekDay.Name
                </Button>
            }
        </CardBody>
    </Card>
</Collapse>


@code {
    private Collapse _weekdaysCollapse = new();
    private readonly IEnumerable<WeekDay> _weekDays = WeekDay.List();
    private readonly HashSet<int> _selected = [];

    private void ChangeSelection(int value)
    {
        if (!_selected.Add(value))
        {
            _selected.Remove(value);
        }
    }

    public async Task ShowToggle()
        => await _weekdaysCollapse.ShowAsync();

    public async Task HideToggle()
        => await _weekdaysCollapse.HideAsync();

}