.discipline-card-title{
    font-size: larger
}

.discipline-card-content {
}

.discipline-event-card {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px
}

.discipline-important-date-card-color {
    border-color: #80805b;
    background-color: #DEDECF;
}

.discipline-calendar-event-card-color {
    border-color: #805b5b;
    background-color: #D4CAC4;
}

.discipline-meeting-card-color {
    border-color: #5b5b80;
    background-color: #CBC8D0;
}