@page "/activity-rules-list"
@using discipline.ui.Components.Pages.CommonComponents.Buttons
@using discipline.ui.Components.Pages.CommonComponents.Headers
@using discipline.ui.Components.Pages.ActivityRulesComponents.ActivityRuleFormComponents
@using discipline.ui.Components.Pages.ActivityRulesComponents.BrowseActivityRulesComponents.Components
@rendermode InteractiveServer

<PageTitle>Activity rules list</PageTitle>

<div class="row">
    <div class="col-md-8 offset-2">
        <PageHeader Title="Activity Rules"/>
        <ActivityRulesTable/>
    </div>
</div>

<CreateNewButton OnClickCallback="OnClickToCreate"/>

<ActivityRuleFormModal @ref="_activityRuleFromModal"/>

@code {
    private ActivityRuleFormModal? _activityRuleFromModal = default;
    
    private async Task OnClickToCreate()
    {
        if (_activityRuleFromModal is not null)
        {
            await _activityRuleFromModal.OnShowClick();
        }
    }
    
    
}