@page "/activity-rules-list"
@using discipline.ui.Components.Common.ButtonsComponents
@using discipline.ui.Components.Common.HeadersComponents
@using discipline.ui.Components.Pages.ActivityRulesComponents.ActivityRuleFormComponents
@using discipline.ui.Components.Pages.ActivityRulesComponents.BrowseActivityRulesComponents.TableComponents
@rendermode InteractiveServer

<PageTitle>Activity rules list</PageTitle>

<div class="row">
    <div class="col-md-8 offset-2">
        <PageHeader Title="Activity Rules"/>
        <ActivityRulesTable/>
    </div>
</div>

<CreateNewButton 
    OnClickCallback="OnClickToCreateAsync"/>

<ActivityRuleFormModal 
    @ref="_activityRuleFromModal"/>

@code {
    private ActivityRuleFormModal? _activityRuleFromModal = default;
    
    private async Task OnClickToCreateAsync()
        => await _activityRuleFromModal!.OnShowClick();
    
    
    
}