@page "/subscription/show"
@using discipline.core.Dispatchers.Abstractions
@using discipline.core.DTOs
@inject IUserDispatcher UserDispatcher


<div class="row">
    @foreach (var subscription in Subscriptions)
    {
        <div class="col-md-4 mx-auto">
            <SubscriptionCard Subscription="subscription"/>
        </div>
    }
</div>


@code {
    public List<SubscriptionDto> Subscriptions { get; set; } = [];

    protected override async Task OnInitializedAsync()
        => Subscriptions = await UserDispatcher.BrowseSubscriptions();
}