@using discipline.core.DTOs
<div class="row">
    <div class="discipline-card overflow-auto">
            <div class="row text-center">
                <p class="discipline-h2">@Subscription?.Title</p>
            </div>
            <div class="col-md-10 offset-1 text-start">
                <div class="row">
                    <span class="discipline-h3">
                        @($"Per month: {@Subscription?.PricePerMonth}$")
                    </span>
                </div>
                <div class="row">
                    <span class="discipline-h3">
                        @($"Per year: {Subscription?.PricePerYear}$")
                    </span>
                </div>
                <div class="row">
                    <span class="discipline-h3">
                        Features:
                    </span>
                    @foreach (var feature in Subscription?.Features!)
                    {
                        <div class="row">
                            <span class="discipline-h3">
                                <i class="bi bi-dot"></i>@($" {feature}")
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>

@code {
    [Parameter] public SubscriptionDto? Subscription { get; set; }
}