@namespace discipline.ui.Components.Pages.Common.Buttons

<div class="d-flex justify-content-end submit-btn-position">
    <button type="submit" class="btn btn-dark btn-sm submit-btn">
        <i class="bi bi-check-lg submit-btn-icon"></i>
    </button>
</div>
@code {
    
}