@using discipline_wasm_ui.Infrastructure.Infrastructure.Weekdays.Extensions
@using discipline_wasm_ui.Infrastructure.Services.DTOs
@using discipline_wasm_ui.Ui.Components.Buttons
@using discipline_wasm_ui.Ui.Components.Enums

<div class="row discipline-row">
    <span class="pb-1">
        <div class="row">
            <div class="col-md-1 discipline-vertical-center-align">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </div>
            <div class="col-md-9" @onclick="RowClickedAsync">
                <div class="row">
                    <span class="discipline-row-header">
                        @ActivityRule?.Title
                    </span>
                    <span class="discipline-row-mode">
                        @ActivityRule?.Mode @ActivityRule.AsCheckedWeekdaysString("-")
                    </span>
                </div>
            </div>
            <div class="col-md-2 text-center discipline-vertical-center-align">
                <DisciplineIconButton
                    IconClass="bi-trash-fill"
                    Color="DisciplineIconButtonColor.Red"
                    OnClickButtonCallback="DeleteClickedAsync"/>
            </div>
        </div>
    </span>
</div>

@code {
    [Parameter] 
    public ActivityRuleDto ActivityRule { get; set; }
    
    [Parameter] 
    public EventCallback OnActivityRuleRowClickCallback { get; set; }
    
    [Parameter] 
    public EventCallback OnActivityRuleDeleteClickCallback { get; set; }

    private async Task RowClickedAsync()
        => await OnActivityRuleRowClickCallback.InvokeAsync(ActivityRule);

    private async Task DeleteClickedAsync()
        => await OnActivityRuleDeleteClickCallback.InvokeAsync(ActivityRule!.Id);
}