@using discipline.ui.Components.Layout.SidebarComponents
@inherits LayoutComponentBase

<div class="page">
    <div>
        <img src="https://github.com/TomaszKrasienko/discipline-web-ui-app/blob/develop/assets/bar_text.png" alt="discipline > motivation"/>
    </div>
    @* <SidebarMenu/> *@
    <main>
        <div class="top-row">
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>