@using BlazorBootstrap
@using discipline.ui.Components.Pages.CommonComponents.Buttons
@rendermode InteractiveServer

<Sidebar 
    @ref="_sidebar" 
    Title="Discipline."
    DataProvider="SidebarDataProvider"/>
<div class="top-row d-flex align-items-center">
    <UniversalIconButton IconName=@(_isUnfolded ? "bi bi-arrow-bar-left" : "bi bi-arrow-bar-right") OnClickCallback="ToggleSidebar"/>
</div>

@code {
    private Sidebar _sidebar = default!;
    private IEnumerable<NavItem>? _navItems = default!;
    private bool _isUnfolded = true;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        _navItems ??= GetNavItems();
        return await Task.FromResult(request.ApplyTo(_navItems));
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ToggleSidebar();
        }
    }


    private IEnumerable<NavItem> GetNavItems()
    {
        _navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "#", IconName = IconName.HouseDoorFill, Text = "Home", IconColor = IconColor.White},
            new NavItem { Id = "2", Href = "/activity-rules-list", IconName = IconName.ListTask, Text = "Activity rules", IconColor = IconColor.White},
            new NavItem { Id = "2", Href = "/daily-productivity", IconName = IconName.ListTask, Text = "Daily productivity", IconColor = IconColor.White},
        };
        return _navItems;
    }

    private void ToggleSidebar()
    {
        _isUnfolded = !_isUnfolded;
        _sidebar.ToggleSidebar();
    }

}

<style>
    :root {
        --bb-sidebar-width: 270px;
        --bb-sidebar-collapsed-width: 50px;
        --bb-sidebar-background-color: black;
        --bb-sidebar-top-row-background-color: black;
        --bb-sidebar-top-row-border-color: black;
        --bb-sidebar-title-text-color: white;
        --bb-sidebar-brand-icon-color: black;
        --bb-sidebar-brand-image-width: 24px;
        --bb-sidebar-brand-image-height: 24px;
        --bb-sidebar-title-badge-text-color: rgb(255,255,255);
        --bb-sidebar-title-badge-background-color: black;
        --bb-sidebar-navbar-toggler-icon-color: rgb(0,0,0);
        --bb-sidebar-navbar-toggler-background-color: black;
        --bb-sidebar-content-border-color: black;
        --bb-sidebar-nav-item-text-color: white;
        --bb-sidebar-nav-item-text-active-color-rgb: 0,0,0;
        --bb-sidebar-nav-item-text-hover-color: lightgray;
        --bb-sidebar-nav-item-text-active-color: lightgray;
        --bb-sidebar-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
        --bb-sidebar-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
    }
</style>