@using discipline.core.Dispatchers.Models.DailyProductivity
@using discipline.ui.Components.Common.ButtonsComponents
@using BlazorBootstrap

<EditForm 
    method="post" 
    Model="ActivityRequest"
    OnSubmit="async () => await SubmitAsync()">
    <div class="row">
        <div class="col-md-6 offset-3">
            <label for="new-activity-title">
                Title:
            </label>
            <InputText
                class="form-control"
                id="new-activity-title"
                placeholder="Title"
                @bind-Value="ActivityRequest!.Title"/>
        </div>
    </div>
    <div class="row">
        <SubmitButton/>
    </div>
</EditForm>
<Toasts 
    Class="p-3" 
    Messages="Messages"
    AutoHide="true" 
    Delay="4000" 
    Placement="ToastsPlacement.TopRight"/>

@code {
    [Parameter] public ActivityRequest? ActivityRequest { get; set; }
    [Parameter] public DateOnly Day { get; set; }
    [Parameter] public List<ToastMessage>? Messages { get; set; }

    protected override void OnParametersSet()
    {
        if (ActivityRequest is null)
        {
            ActivityRequest = new();
        }   
    }

    private async Task SubmitAsync()
    {
        
    }
}