.discipline-text-btn-dark {
    background-color: transparent;
    color: #1C211D;
    border-color: #1C211D;
}

.discipline-text-btn-dark:hover {
    color: #546357;
    border-color: #546357;
    cursor: pointer;
}

.discipline-text-btn-dark:active {
    color: #C4D4C9;
}

.discipline-text-btn-light {
    background-color: transparent;
    color: #C4D4C9;
    border-color: #C4D4C9;
}

.discipline-text-btn-light:hover {
    color: #F5F4F5;
    border-color: #F5F4F5;
    cursor: pointer;
}

.discipline-text-btn-light:active {
    color: #546357;
}