@using discipline.core.Dispatchers.Models.ActivityRule
@using discipline.ui.Models
@using discipline.core.Dispatchers.Abstractions
@using discipline.core.DTOs
@using BlazorBootstrap
@using discipline.core.Helpers
@inject IDisciplineAppDispatcher DisciplineAppDispatcher;
@inject NavigationManager NavigationManager;
@rendermode InteractiveServer

<PageTitle>Create new activity rule</PageTitle>

<div class="row">
    <div class="col-md-10 text-center offset-1">
        <h2>Create new activity rule</h2>  
    </div>
</div>
@if (!_isValid)
{
    <div>
        <Alert Color="AlertColor.Danger" Dismissable="true">
            @_errorMessage
        </Alert>
    </div>
}
<div class="row">
    <div class="col-md-6 offset-3">
        <EditForm method="post" OnSubmit="Submit" Model="ActivityRuleRequest">
            <div class="discipline-form-group">
                <label for="new-activity-title">Title: </label>
                <InputText
                    class="form-control"
                    id="new-activity-title"
                    placeholder="Title"
                    @bind-Value="ActivityRuleRequest!.Title"/>
            </div>
            <div class="discipline-input-group">
                <label class="form-label" for="new-activity-mode">Mode: </label>
                <InputSelect 
                    class="form-control"
                    id="new-activity-mode" 
                    @bind-Value="ActivityRuleRequest!.Mode">
                    @foreach (var mode in _activityRuleModes)
                    {
                        <option value="@mode.Key">
                            @mode.Name
                        </option>
                    }
                </InputSelect>
            </div>
            
            @if (ActivityRuleRequest.Mode == "Custom")
            {
                <div class="discipline-input-group">
                    <label>Days:</label>
                    @foreach (var weekday in _weekdays)
                    {
                        <div class="form-check">
                            <InputCheckbox
                                @bind-Value="weekday!.IsChecked"
                                @oninput="() => ChangeWeekdayCheck(weekday)">
                            </InputCheckbox>
                            <label
                                class="form-check-label"
                                @onclick="() => ChangeWeekdayCheck(weekday)">@weekday.Name</label>
                        </div>
                    }
                </div>
            }
            <div class="form-group discipline-input-group">
                <button class="btn btn-dark" type="submit">Submit</button>
            </div>


        </EditForm>
    </div>
</div>
@code {    
    [Parameter]
    public Guid? ActivityRuleId { get; set; }
    
    [SupplyParameterFromForm] 
    public ActivityRuleRequest ActivityRuleRequest { get; set; } = new();
    


    private readonly List<WeekdayDto> _weekdays = WeekdayFactory.Get();
    private List<ActivityRuleModeDto> _activityRuleModes = new();
    private bool _isValid = true;
    private string _errorMessage = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        _activityRuleModes = await DisciplineAppDispatcher.GetActivityRuleModesAsync();
        ActivityRuleRequest.Mode = _activityRuleModes.FirstOrDefault()?.Key;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ActivityRuleId is not null)
        {
            var activityRule = await DisciplineAppDispatcher.GetCreateActivityRuleByIdAsync(ActivityRuleId.Value);
            ActivityRuleRequest.Title = activityRule.Title;
            ActivityRuleRequest.Mode = activityRule.Mode;
        }
    }

    private void ChangeWeekdayCheck(WeekdayDto weekday)
        => weekday.IsChecked = !weekday.IsChecked;

    private async Task Submit()
    {
        var selectedDays = _weekdays.Where(x => x.IsChecked).Select(x => x.Id).ToList();
        if (selectedDays.Any())
        {
            ActivityRuleRequest.SelectedDays = selectedDays;
        }
        var response = await DisciplineAppDispatcher.CreateActivityRuleAsync(ActivityRuleRequest);
        if (!response.IsValid)
        {
            _isValid = false;
            _errorMessage = response.Message;
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
}