@page "/activity-rules-list"
@using BlazorBootstrap
@using discipline.ui.Components.Pages.Common.Buttons
@using discipline.ui.Components.Pages.BrowseActivityRulesComponents.Components
@using discipline.ui.Components.Pages.Common.Headers
@using discipline.ui.Components.Pages.ActivityRuleFormComponents
@rendermode InteractiveServer

<PageTitle>Activity rules list</PageTitle>
<Toasts 
    Class="p-3" 
    Messages="_messages" 
    AutoHide="true" 
    Delay="4000" 
    Placement="ToastsPlacement.TopRight"/>

<div class="row">
    <div class="col-md-8 offset-2">
        <PageHeader Title="Activity Rules"/>
        <ActivityRulesTable/>
    </div>
</div>

<CreateNewButton OnClickCallback="OnClickToCreate"/>

<Modal 
    @ref="_modal" 
    title="Create new activity rule" 
    UseStaticBackdrop="true" 
    CloseOnEscape="false"
    OnHiding="OnHideModalClick">
    <BodyTemplate>
        <div class="row">
            <div class="col-md-10 offset-1">
                <ActivityRuleForm 
                    Modal="_modal"
                    Messages="_messages"></ActivityRuleForm>  
            </div>
        </div>
    </BodyTemplate>
</Modal>


@code {
    private Modal _modal = default!;
    private readonly List<ToastMessage> _messages = [];
    
    private async Task OnClickToCreate()
    {
        await OnShowModalClick();
    }
    
    private async Task OnShowModalClick()
    {
        await _modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await _modal.HideAsync();
    }
}