.activity-cell{
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: groove;
}

.activity-row {
    background-color: #b7b7b7;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

.activity-row:hover {
    background-color: #919191;
    cursor: pointer;
}

.pagination-colors{
    color: black !important;   
}

.new-activity-btn{
    position: fixed; 
    right: 25px; 
    padding-top: 40px;
}