.modal-content {
    background-color: #222823;
    color: #C4D4C9;
}

.discipline-btn-close {
    background-color: transparent;
    border-color: transparent;
    color: #f5f4f5 !important;
}
.discipline-btn-close:hover {
    color: #C4D4C9;
    cursor: pointer;
}

.discipline-btn-close:active{
    color: #F5F4F5;
}