.discipline-modal-lg{
    width: 60vw;
    height: 60vh;
}
.discipline-modal-sm{
    width: 30vw;
    height: 30vh;
}

.modal-content {
    background-color: #1C211D;
    color: #C4D4C9;
}

.discipline-btn-close {
    background-color: transparent;
    border-color: transparent;
    color: #f5f4f5 !important;
}
.discipline-btn-close:hover {
    color: #C4D4C9;
    cursor: pointer;
}

.discipline-btn-close:active{
    color: #F5F4F5;
}