.discipline-table{
    font-size: large;
}

.discipline-table-header{
    background-color: #f2f2f2;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

.discipline-table-row{
    background-color: #f7f7f7;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: groove;
}

.discipline-table-row:hover{
    background-color: white;
    cursor: pointer;
}

.discipline-table-cell{
    border-right-color: white;
    border-right-width: 1px;
    border-right-style: groove;
}

.discipline-pagination-position{
    padding-top: 30px;
}

.discipline-pagination-colors{
    color: black !important;
}