@using discipline.ui.Components.DailyProductivity
@page "/"


<PageTitle>Discipline.</PageTitle>
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Welcome again. Keep your Discipline.</h2>
    </div>
</div>
<div>
    <DailyProductivityTable 
        IsTitleVisible="false"/> 
</div>

<ProductivityChartData></ProductivityChartData>