@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="row">
            <DisciplineNavMenu/>
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

