<span class="activity-check-icon">
    <i class="bi bi-check-lg" style="@IsCheckedStyle()"></i>
</span>
@code {
    [Parameter] 
    public bool? IsChecked { get; set; }

    private string IsCheckedStyle()
        => IsChecked ?? false ? "visibility: visible" : "visibility: hidden";

}