@using discipline.core.DTOs

<div class="row">
    <span>
        <div class="col-md-2">
            <ActivityCheckIcon IsChecked="Activity?.IsChecked"/>
        </div>
        <div class="col-md-10">
            @Activity?.Title
        </div>
    </span>
</div>

@code {
    [Parameter] 
    public ActivityDto? Activity { get; set; }
}