@page "/activity-rules-list"
@using discipline_wasm_ui.Services.DTOs
@using discipline_wasm_ui.Services.Models
@using discipline_wasm_ui.Ui.Components.Headers
@inject IActivityRulesDispatcher DisciplineAppDispatcher;

<PageTitle>Activity rules list</PageTitle>
<DisciplinePageHeader Title="Activity rules list"/>
<div class="row">
    @foreach (var activityRule in _activityRules)
    {
    <DisciplineActivityRuleRow
        ActivityRule="activityRule"/>
    }
</div>

@code {
    private List<ActivityRuleDto> _activityRules = [];
    private int _pageNumber = 1;
    private int _totalPages = 1;
    private int _pageSize = 10;

    protected override async Task OnInitializedAsync()
        => await InitializeDataAsync();

    private async Task InitializeDataAsync()
    {
        var data = await DisciplineAppDispatcher.BrowseActivityRules(new PaginationRequest()
        {
            PageNumber = _pageNumber,
            PageSize = _pageSize
        });
        _activityRules = data.Data;
        _pageNumber = data.MetaData.CurrentPage;
        _totalPages = data.MetaData.TotalPages;
    }
}