@using BlazorBootstrap

<Tooltip
    CustomClass="me-4"
    Placement="TooltipPlacement.Bottom"
    Title="@Text">
    <button
        class="btn discipline-nav-btn"
        type="button"
        @onclick="ButtonClickedAsync">
        <i class="bi @IconClass"></i>
        @Text
    </button>
</Tooltip>

@code {
    [Parameter] 
    public string Text { get; set; }
    
    [Parameter, EditorRequired] 
    public string IconClass { get; set; }
    
    [Parameter, EditorRequired] 
    public EventCallback OnClickButtonCallback { get; set; }

    private async Task ButtonClickedAsync()
        => await OnClickButtonCallback.InvokeAsync();

}