<nav class="navbar justify-content-between discipline-nav">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
        <div class="row">
            <DisciplineNavAccount/>
        </div>
    </form>
</nav>

@code {
    
}