@using BootstrapBlazor.Components
<Tooltip
    CustomClass="me-4"
    Placement="Placement.Bottom">
    <div class="btn-group dropstart">
        <button
            class="btn discipline-nav-btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="bi bi-file-person"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-dark me-5" aria-labelledby="dropdownMenuButton"> 
            <a class="dropdown-item" href="sign-in">Sign-in</a>
        </div>
    </div>
</Tooltip>

@code {
    
}