@namespace discipline_wasm_ui.Ui.NavMenuComponents
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<nav class="navbar justify-content-between discipline-nav">
    <a class="navbar-brand" href="#">
        <img
            src="discipline_logo.png"
            alt="Discipline."
            class="logo-navbar">
    </a>
    @if (_isAuthenticated)
    {
        <DisciplineNavButton
            Text="Activity rules"
            IconClass="bi-file-ruled"
            OnClickButtonCallback="NavigateToActivityRules"/>
        <DisciplineNavButton
            Text="Calendar"
            IconClass="bi-calendar-check"
            OnClickButtonCallback="NavigateToActivityRules"/>
    }
    <form class="form-inline">
        <div class="row">
            <DisciplineNavAccount/>
        </div>
    </form>
</nav>

@code {
    private bool _isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _isAuthenticated = authenticationState?.User?.Identity?.IsAuthenticated ?? false;
    }

    private void NavigateToActivityRules()
    {
        NavigationManager.NavigateTo("/activity-rules-list");
    }
}  