@using discipline_wasm_ui.Ui.Components.Headers
@using discipline_wasm_ui.Ui.Pages.DailyProductivities.Components
@page "/"

<PageTitle>Home</PageTitle>
<DisciplinePageHeader
    Title="Keep your discipline."/>

<div class="row pb-5">
    <DisciplineDailyProductivityActivities
        OnActivityChangedCallback="RefreshChar"
        CreateBtnIsVisible="false"/>
</div>

<div>
    <DisciplineProductivityChart
        @ref="_disciplineProductivityChart"/>
</div>

@code
{
    private DisciplineProductivityChart _disciplineProductivityChart = default!;

    private async Task RefreshChar()
        => await _disciplineProductivityChart.RefreshChart();
    
}
