.activity-rule-table-row {
    background-color: #f7f7f7;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: groove;
}

.activity-rule-table-row:hover {
    background-color: white;
    cursor: pointer;
}

.activity-rule-table-row-header{
    font-size: larger;
    padding-bottom: 1px;
}

.activity-rule-table-row-details{
    font-size: smaller;
    color: GrayText;
    padding-bottom: 1px;
}