@using BlazorBootstrap
@using discipline.ui.blazor.wasm.Components.Buttons
@using discipline.ui.blazor.wasm.Components.Modals
@using discipline.ui.blazor.wasm.Components.WeekDays
@using discipline.ui.blazor.wasm.Enums
@using discipline.ui.communication.http.ActivityRules.DTOs
@using discipline.ui.communication.http.ActivityRules.DTOs.Requests
@using discipline.ui.communication.http.ActivityRules.DTOs.Responses
@using discipline.ui.infrastructure.ActivityRules.Facades
@using discipline.ui.infrastructure.ActivityRules.Models
@using discipline.ui.infrastructure.Constants
@inject ICreateActivityRuleFacade CreateActivityRuleFacade
@inject IGetModesFacade GetModesFacade
@inject ToastService ToastService
@inject ILogger<ActivityRuleForm> Logger

<DisciplineModal
    @ref="_formModal"
    Size="DisciplineModalSize.Large"
    Title="Create activity rule">
    <Body>
    <EditForm
        method="post"
        OnSubmit="Submit"
        EditContext="_editContext">
        <DataAnnotationsValidator/>
        <label for="activity-rule-title">Title:</label>
        <InputText
            class="form-control"
            id="activity-rule-title"
            placeholder="Title"
            @bind-Value="ActivityRule.Title"/>
        <label for="activity-rule-note">Note:</label>
        <InputTextArea
            class="form-control"
            id="activity-rule-note"
            placeholder="Note"
            @bind-Value="ActivityRule.Note"/>
        <label for="activity-rule-mode">Modes:</label>
        <InputSelect 
            class="form-control"
            id="activity-rule-mode"
            @bind-Value="SelectedMode">
            @foreach (var mode in _modes)
            {
                <option value="@mode.Mode">@mode.Mode</option>
            }
        </InputSelect>
        <DisciplineSubmitButton
            Type="DisciplineSubmitButtonType.Modal"/>
    </EditForm>
    <DisciplineWeekDaysPicker 
        @ref="_disciplineWeekDaysPicker"
        OnSelectionChanged="SelectedDaysChanged"/>
    </Body>
</DisciplineModal>

@code {
    private CancellationTokenSource _cts = new();
    private DisciplineModal _formModal = new DisciplineModal();
    private EditContext? _editContext;
    private IReadOnlyList<ModeResponseDto> _modes = [];
    private DisciplineWeekDaysPicker _disciplineWeekDaysPicker = new();
    private bool _isDaysVisible = false;
    private HashSet<int>? _selectedDays;
    
    private string? _selectedMode;

    public string? SelectedMode
    {
        get => _selectedMode;
        set
        {
            OnModeChanged(value).ConfigureAwait(true);
            _selectedMode = value;
        }
    }
    
    [SupplyParameterFromForm] 
    public WriteActivityRuleDto ActivityRule { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(ActivityRule);
        _cts = new CancellationTokenSource();        
        var result = await GetModesFacade.HandelAsync(_cts.Token);
        
        if (result.IsT0)
        {
            _modes = result.AsT0;
            SelectedMode = _modes.FirstOrDefault()?.Mode;
        }
        else
        {
            ToastService.Notify(result.AsT1.ToDangerToastMessage());
        }
    }
    
    private async Task Submit()
    {
        if (_selectedMode is null)
        {
            return;
        }
        
        var createActivityRuleRequestDto = new CreateActivityRuleRequestDto(
            new ActivityRuleDetailsRequestDto(ActivityRule.Title!, ActivityRule.Note),
            new ActivityRuleModeRequestDto(_selectedMode, null));

        var result = await CreateActivityRuleFacade.HandleAsync(createActivityRuleRequestDto, _cts.Token);
        
        if (result.IsT0)
        {
            await _formModal.CloseAsync();
        }
        else
        {
            ToastService.Notify(result.AsT1.ToDangerToastMessage());
        }
    }

    internal void Open()
        => _formModal.Open();

    private async Task OnModeChanged(string? newValue)
    {
        var selectedMode = _modes.SingleOrDefault(x => x.Mode == newValue);

        if (selectedMode?.IsDaysRequired ?? false)
        {
            await _disciplineWeekDaysPicker.ShowToggle();
        }
        else
        {
            await _disciplineWeekDaysPicker.HideToggle();
        }
    }

    private void SelectedDaysChanged(HashSet<int>? selectedDays)
        => _selectedDays = selectedDays;

}