@using discipline_wasm_ui.Ui.Components.Enums


<div class="discipline-create-btn-position">
    <DisciplineIconButton
        IconClass="bi-plus"
        OnClickButtonCallback="ButtonClicked"
        Color="DisciplineIconButtonColor.Dark"
        TooltipText="Create new"/>
</div>

@code {
    [Parameter, EditorRequired]
    public EventCallback OnClickButtonCallback { get; set; }

    private async Task ButtonClicked()
        => await OnClickButtonCallback.InvokeAsync();

}