@namespace discipline.ui.Components.Pages.CommonComponents.Buttons

<div>
    <span class="confirm-icon-button" @onclick="OnClick">
        <i class="bi bi-check-lg"></i>
    </span>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private async Task OnClick()
    {
        await OnClickCallback.InvokeAsync(string.Empty);
    }
}