@namespace discipline.ui.Components.Pages.CommonComponents.Buttons

<div>
    <span class="universal-icon-button" @onclick="OnClick">
        <i class="@IconName"></i>
    </span>
</div>

@code {

    [Parameter]
    public string? IconName { get; set; }
    
    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private async Task OnClick()
    {
        await OnClickCallback.InvokeAsync(string.Empty);
    }
}